[submodule "dokku-git-rev"]
	path = plugins/dokku-git-rev
	url = ../dokku-git-rev.git
[submodule "dokku-rebuild"]
	path = plugins/dokku-rebuild
	url = ../dokku-rebuild.git
[submodule "dokku-md-plugin"]
	path = plugins/dokku-md
	url = ../dokku-md-plugin.git
[submodule "dokku-memcached-plugin"]
	path = plugins/dokku-memcached
	url = ../dokku-memcached-plugin.git
[submodule "dokku-mongodb-plugin"]
	path = plugins/dokku-mongodb
	url = ../dokku-mongodb-plugin.git
[submodule "dokku-pg-plugin"]
	path = plugins/dokku-pg
	url = ../dokku-pg-plugin.git
[submodule "dokku-rabbitmq-plugin"]
	path = plugins/dokku-rabbitmq
	url = ../dokku-rabbitmq-plugin.git
[submodule "dokku-redis-plugin"]
	path = plugins/dokku-redis
	url = ../dokku-redis-plugin.git
[submodule "dokku-user-env-compile"]
	path = plugins/dokku-user-env-compile
	url = ../dokku-user-env-compile.git
[submodule "plugins/dokku-supervisord"]
	path = plugins/dokku-supervisord
	url = https://github.com/dokku-alt/dokku-supervisord
